.container{
    width: 100%;
    aspect-ratio: 4/3.94;
    background-image: url('/hero.png');
    background-size: cover;
    /* background-position: 50%; */
}

@media (min-width: 1024px) {
    .container{
        aspect-ratio: 12.8/3.94
    }
}