.container{
    min-height: 25vh;
    height: fit-content;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1rem;
    max-width: 1200px;
    margin: auto;
    align-items: center;
}

.title {
    font-size: 24px;
    font-weight: 500;
    color: var(--black);
}

.subtitle {
    font-size: 16px;
    color: var(--dark-gray);
    margin-top: 0.4rem;
    margin-bottom: -20rem;
}

@media (min-width: 1024px) {
    .container{
        min-height: 50vh
    };
}