@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --main-color: #cc2229;
  --white: #f2f2f2;
  --black: #1c1c1c;
  --gray: #d9d9d9;
  --dark-gray: #6c6c6c
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

*{
  box-sizing: border-box;
}

input:focus{
  outline: none;
}
